#welcome {
    text-align: center;
    display: block;
}

li {
    background-color: burlywood;
    padding: 5px;
    margin: 5px;
}

.questions {
    display: block;
}

ul {
    list-style-type: none;

}

li {
    display: table;
}

.scoreli {
    background-color: lavender;
    display: table;
    width: 100px;
}