#welcome {
    text-align: center;
    display: block;
}

body {
    min-height: 100%;
    background-image: linear-gradient(to right, rgba(00, 00, 00, 0.1), rgba(0, 0, 00, 1.0)),
        url(../images/background.jpg);
    background-color: #000d00;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
}

nav {
    background-color: black;
    color: white;
}

.navbar-brand {
    color: white;
}

button {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    margin-top: 50px;
}

.card-body {
    background-color: rgba(24, 44, 30, 0.4);


}

.link {
    color: rgb(2, 59, 19);
}


li {
    background-color: rgb(135, 222, 142);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.questions {
    display: block;
}

ul {
    list-style-type: none;
}

li {
    display: table;
}

.scoreli {
    background-color: rgb(135, 222, 142);
    border-radius: 3px;
    display: table;
    width: 100px;
}