#welcome {
    text-align: center;
    display: block;
}

body {
    min-height: 100%;
    background-image: url(../images/background.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;

}

li {
    background-color: burlywood;
    padding: 5px;
    margin: 5px;
}

.questions {
    display: block;
}

ul {
    list-style-type: none;

}

li {
    display: table;
}

.scoreli {
    background-color: lavender;
    display: table;
    width: 100px;
}